*{font-family:Arial,Helvetica,sans-serif;font-size:13px}
A.title_menu_font{color:#FFFF00;text-decoration:none}
A.title_menu_font:link{color:#FFFF00;text-decoration:none}
A.title_menu_font:visited{color:#FFFF00;text-decoration:none}
A.title_menu_font:active{color:#FFFF00;text-decoration:none}
A.title_menu_font:hover{color:#FFFF00;text-decoration:none}
A.menu1{color:#FFFFFF;text-decoration:none;font-size:14pt;text-decoration:none}
A.menu1:link{color:#FFFF00;text-decoration:none;font-size:14pt;text-decoration:none}
A.menu1:visited{color:#FFFF00;text-decoration:none;font-size:14pt;text-decoration:none}
A.menu1:active{color:#FFFFFF;text-decoration:none;font-size:14pt;text-decoration:none}
A.menu1:hover{color:#FFFFFF;text-decoration:none;font-size:14pt;text-decoration:none}
A.menu2{color:#FFFF00;text-decoration:none;text-decoration:none}
A.menu2:link{color:#FFFF00;text-decoration:none;text-decoration:none}
A.menu2:visited{color:#FFFF00;text-decoration:none;text-decoration:none}
A.menu2:active{color:#FFFF00;text-decoration:none;text-decoration:none}
A.menu2:hover{color:#FFFF00;text-decoration:none;text-decoration:none}
A.menu3{color:#FFFFFF;text-decoration:none;text-decoration:none}
.menubg{background-color:#000000;background-image:url(graphics/back-b2.gif)}
.mainbg{background-color:#FFFFFF;background-image:url(graphics/back-a.gif)}
.menu{background-color:#000000;background-image:url(graphics/back-a.gif)}
.menu1{background-color:#333333;background-image:url(graphics/back-a.gif)}
.background{background-color:#EEEEEE;color:#000000}
.titlecolor{color:#333366;font-weight:bold;font-size:14pt}
.textcolor{color:#000000}
.stringcolor{color:#000000;font-size:10pt}
.button{width:100px}
.table1{height:25px;color:#FFFFFF;background-color:#666666;font-weight:bold;text-align:right}
.stable{height:25px;color:#FFFFFF;background-color:#666666;font-weight:bold;text-align:center}
.table2{height:25px;color:#000000;background-color:#CCCCCC}
.table3{height:25px;color:#000000;background-color:#CCCCCC;text-align:center}
.num{color:black}
