*{font-family:Arial,Helvetica,sans-serif}
body{background-image:url(images/bg2_main.jpg);margin-left:0px;margin-top:0px;margin-right:0px;margin-bottom:0px}
.style9{font-size:12px;color:#FF6600}
.style10{color:#FFFF00}
.style11{color:#FF6600}
.style12{color:#FFCC00}
.style3{font-size:13px;color:#FFFF00;font-weight:bold}
.style5{color:#CCCCCC;font-size:13px;font-weight:bold}
.style6{font-size:12px;color:#FF6600}
.style7{font-size:12px;color:#333333}
.style71{font-size:12px;color:#FF0000}
.style1{font-size:12px;color:#666666}
.style13{font-size:12px;color:#FFCC00;font-weight:bold}
.style2{font-size:14px;font-weight:bold;color:#FFFFFF}
.style20{color:#FFFFFF;font-weight:bold;font-size:14px}
.style21{color:#333333}
.style23{font-size:14px;color:#FFCC00;font-weight:bold}
.style14{font-size:12px;color:#333333}
